<?xml version='1.0' encoding='UTF-8'?>
<project>
  <builders class="vector">
    <hudson.tasks.Shell>
      <command>
#
# Module settings
#
MODULE=NATIVE-BINDIST-AS-7.1.2-SUN-JDK-6

WORKSPACE=`pwd`
STACK_ID=native
JAVA_HOME=@java.home.sun.jdk6@
SCRIPTS_DIR=$WORKSPACE/hudson-scripts
STACK_DIR=$WORKSPACE/stack-native
TEST_OPTS=
JBOSS_TARGET=jboss712
JBOSS_BIND_ADDRESS=@jboss.bind.address@
JBOSS_INSTANCE=@hudson.home@/jobs/AS-7.1.2/workspace/build/target/@hudson.jboss712.build@

#
# load test functions
#
. $SCRIPTS_DIR/jbossws-qa.sh

#
# execute binary distribution tests
#
binaryDistributionTest

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers class="vector">
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>stack-native/target/jbossws-native-bin-dist/output/test-reports/TEST-*.xml</testResults>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.Mailer>
      <recipients>@hudson.mail.recipients@</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM-ModuleLocation>
        <remote>@jbossws.hudson.url@/scripts</remote>
        <local>hudson-scripts</local>
      </hudson.scm.SubversionSCM-ModuleLocation>
      <hudson.scm.SubversionSCM-ModuleLocation>
        <remote>@hudson.native.url@</remote>
        <local>stack-native</local>
      </hudson.scm.SubversionSCM-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <browser class="hudson.scm.browsers.FishEyeSVN">
      <url>http://fisheye.jboss.com/browse/JBossWS/</url>
      <rootModule></rootModule>
    </browser>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <enableRemoteTrigger>false</enableRemoteTrigger>
  <triggers class="vector"/>
  <logRotator>
    <daysToKeep>14</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description>Build and test jbossws-native-@version.id@ binary distribution against AS-7.1.2 with Sun JDK 6</description>
  <actions class="vector"/>
</project>
