<?xml version='1.0' encoding='UTF-8'?>
<project>
  <builders class="vector"/>
  <publishers class="vector">
    <hudson.tasks.BuildTrigger>
      <childProjects>AS-11.0.0, AS-11.0.0-JDK9, AS-9.0.2-SECMGR, AS-10.0.0-SECMGR, AS-10.1.0-SECMGR, AS-11.0.0-SECMGR</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <enableRemoteTrigger>false</enableRemoteTrigger>
  <triggers class="vector"/>
  <logRotator>
    <daysToKeep>14</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description>Builds all application servers</description>
  <actions class="vector"/>
</project>
