<?xml version='1.0' encoding='UTF-8'?>
<project>
  <builders class="vector"/>
  <publishers class="vector">
    <hudson.tasks.BuildTrigger>
      <childProjects>AS-7.1.0, AS-7.1.1, AS-7.1.2, AS-7.2.0</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <enableRemoteTrigger>false</enableRemoteTrigger>
  <triggers class="vector"/>
  <logRotator>
    <daysToKeep>14</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description>Builds all AS servers</description>
  <actions class="vector"/>
</project>
