<?xml version='1.0' encoding='UTF-8'?>
<project>
  <builders class="vector">
    <hudson.tasks.Shell>
      <command>
#
# Module settings
#
MODULE=SWITCH-BINDIST-AS-6.0.0

WORKSPACE=`pwd`
JAVA_HOME=@java.home.sun.jdk6@
HUDSON_DIR=$WORKSPACE/framework-hudson
TEST_OPTS=
JBOSS_TARGET=jboss600
JBOSS_BIND_ADDRESS=@jboss.bind.address@
JBOSS_CONFIG=@jboss.server.instance@
JBOSS_INSTANCE=@hudson.home@/jobs/AS-6.0.0/workspace/JBossAS-6.0.0/build/target/@hudson.jboss600.build@
CXF_BIN_DIST_DIR=@hudson.home@/jobs/CXF-BINDIST-AS-6.0.0-SUN-JDK-6/workspace/stack-cxf/
NATIVE_BIN_DIST_DIR=@hudson.home@/jobs/NATIVE-BINDIST-AS-6.0.0-SUN-JDK-6/workspace/stack-native/
CXF_AS_HOME=$WORKSPACE/cxf-as
NATIVE_AS_HOME=$WORKSPACE/native-as

#
# load test functions
#
. $HUDSON_DIR/jboss/bin/jbossws-qa.sh


rm -rf $WORKSPACE/*.diff
rm -rf $WORKSPACE/modified-as

rm -rf $CXF_AS_HOME
cp -r $JBOSS_INSTANCE $CXF_AS_HOME
JBOSS_HOME=$CXF_AS_HOME
STACK_DIR=$CXF_BIN_DIST_DIR
STACK_ID=cxf
setupEnv
redeployBinaryDistribution

rm -rf $NATIVE_AS_HOME
cp -r $JBOSS_INSTANCE $NATIVE_AS_HOME
JBOSS_HOME=$NATIVE_AS_HOME
STACK_DIR=$NATIVE_BIN_DIST_DIR
STACK_ID=native
setupEnv
redeployBinaryDistribution

JBOSS_HOME=$WORKSPACE/modified-as

#------------------------------------- CXF stack checks -------------------------------------

cp -r $NATIVE_AS_HOME $JBOSS_HOME
STACK_DIR=$CXF_BIN_DIST_DIR
STACK_ID=cxf
setupEnv
redeployBinaryDistribution
diff -r $CXF_AS_HOME $JBOSS_HOME -x jbossws-native-core.jar -x netty.jar > $WORKSPACE/cxf_vs_cxfOverNative.diff
rm -rf $JBOSS_HOME


#------------------------------------- NATIVE stack checks -------------------------------------

cp -r $CXF_AS_HOME $JBOSS_HOME
STACK_DIR=$NATIVE_BIN_DIST_DIR
STACK_ID=native
setupEnv
redeployBinaryDistribution
diff -r $NATIVE_AS_HOME $JBOSS_HOME > $WORKSPACE/native_vs_nativeOverCxf.diff
rm -rf $JBOSS_HOME


rm -rf $CXF_AS_HOME
rm -rf $NATIVE_AS_HOME

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers class="vector">
    <hudson.tasks.Mailer>
      <recipients>@hudson.mail.recipients@</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM-ModuleLocation>
        <remote>@hudson.framework.url@/hudson</remote>
        <local>framework-hudson</local>
      </hudson.scm.SubversionSCM-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <browser class="hudson.scm.browsers.FishEyeSVN">
      <url>http://fisheye.jboss.com/browse/JBossWS/</url>
      <rootModule></rootModule>
    </browser>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <enableRemoteTrigger>false</enableRemoteTrigger>
  <triggers class="vector"/>
  <logRotator>
    <daysToKeep>14</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description>Test jbossws bindist stack switch against AS 6.0.0</description>
  <actions class="vector"/>
</project>
