<?xml version='1.0' encoding='UTF-8'?>
<project>
  <builders class="vector"/>
  <publishers class="vector">
    <hudson.tasks.BuildTrigger>
      <childProjects>
CXF-CORE-AS-8.2.1

, CXF-CORE-AS-9.0.0

, CXF-CORE-AS-9.0.1

, CXF-CORE-AS-10.0.0

, CXF-CORE-AS-8.2.1-SECMGR

, CXF-CORE-AS-9.0.0-SECMGR

, CXF-CORE-AS-9.0.1-SECMGR

, CXF-CORE-AS-10.0.0-SECMGR

, CXF-CORE-AS-8.2.1-IPV6

, CXF-CORE-AS-9.0.0-IPV6

, CXF-CORE-AS-9.0.1-IPV6

, CXF-CORE-AS-10.0.0-IPV6

, CXF-PERF-AS-8.2.1

, CXF-PERF-AS-9.0.0

, CXF-PERF-AS-9.0.1

, CXF-PERF-AS-10.0.0
      </childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers class="vector"/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <enableRemoteTrigger>false</enableRemoteTrigger>
  <triggers class="vector"/>
  <logRotator>
    <daysToKeep>14</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description>Run all CXF tests</description>
  <actions class="vector"/>
</project>
